body {
  color: white;
  .btn {
    margin: 5px 2.5px;
  }
}

h1 {
  font-family: 'Spirax', cursive;
  font-size: 90px;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.cats-row li {
  padding: 15px;
}

img, .btn {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.75);
}

tags-input >  div > div > input {
    width: 300px;
  }

input, tags-input {
  color: dodgerblue;
}

.cat-photo {
  width: 400px;
  height: 220px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.75);
}

.search-bar {
  padding-bottom: 50px;
}

.single-cat {
  padding: 20px 0;
}